/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

button {
  height: 64px;
  line-height: 64px;
  font-size: 32px;
  padding: 0 16px;
  border: none;
  background-color: #6200EE;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
